In [1]:
import pandas as pd

In [2]:
df_fs38 = pd.DataFrame(columns=['path', 'file_type', 'realm', 'frequency', 'table_id', 'project_id',
       'institution_id', 'source_id', 'experiment_id', 'member_id',
       'variable_id', 'grid_label', 'version', 'time_range'])

In [3]:
df = pd.read_csv("./file_list.txt", header=None)
df.columns = ["path"]

## DO OBS6

In [4]:
import pandas as pd
import os

# Function to split the filename into components based on '_'
def split_filename(file_path):
    # Remove the file extension and split the rest based on '_'
    filename = os.path.basename(file_path).replace('.nc', '')
    components = filename.split('_')
    # Return components in a dictionary format for DataFrame usage
    if len(components) > 6:
        return {
        'project_id': components[0],
        'source_id': components[1],
        'experiment_id': components[2],
        'version': components[3],
        'table_id': components[4],
        'variable_id': components[5],
        'time_range': components[6]
    }
    else:
        return {
        'project_id': components[0],
        'source_id': components[1],
        'experiment_id': components[2],
        'version': components[3],
        'table_id': components[4],
        'variable_id': components[5],
        'time_range': None
    }        
# Apply function to each file path and expand results into separate columns
obs_df = df[df['path'].str.contains("OBS")].copy()
obs_df[['project_id', 'source_id', 'experiment_id', 'version', 'table_id', 'variable_id', 'time_range']] = obs_df['path'].apply(lambda x: pd.Series(split_filename(x)))

## DO OBS4MIPs

In [5]:
import pandas as pd
import os

# Function to split the filename into components based on '_'
def split_filename(file_path):
    # Remove the file extension and split the rest based on '_'
    filename = os.path.basename(file_path).replace('.nc', '')
    components = filename.split('_')
    # Return components in a dictionary format for DataFrame usage
    if "-" in components[-1]:
        time_range = components[-1]
    else:
        time_range = "-".join([components[-2], components[-1]])
    return {
        'project_id': "obs4MIPs",
        'source_id': components[2],
        'version': components[4],
        'variable_id': components[0],
        'time_range': time_range} 
    
# Apply function to each file path and expand results into separate columns
obs4mips_df = df[df['path'].str.lower().str.contains("obs4mips")].copy()
obs4mips_df[['project_id', 'source_id', 'version', 'variable_id', 'time_range']] = obs4mips_df['path'].apply(lambda x: pd.Series(split_filename(x)))

In [6]:
obs4mips_df

,path,project_id,source_id,version,variable_id,time_range
2877,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,CALIOP,CALIPSO-GOCCP-v2.1,cllcalipso,20071201-20071231
2878,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,CALIOP,CALIPSO-GOCCP-v2.1,clhcalipso,20100501-20100531
2879,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,CALIOP,CALIPSO-GOCCP-v2.1,clmcalipso,20080801-20080831
2880,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,CALIOP,CALIPSO-GOCCP-v2.1,clccalipso,20080701-20080731
2881,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,CALIOP,CALIPSO-GOCCP-v2.1,cllcalipso,20090501-20090531
...,...,...,...,...,...,...
6182,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,ISCCP,V1.0,albisccp,200402-200402
6183,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,ISCCP,V1.0,albisccp,199504-199504
6186,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,ISCCP,V1.0,albisccp,200001-200001
6188,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,ISCCP,V1.0,cltisccp,198812-198812
6189,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,obs4MIPs,ISCCP,V1.0,clisccp,199908-199908

## DO the rest (Skip this part, file should have a project)

In [7]:
# import pandas as pd
# import os

# # Function to split the filename into components based on '_'
# def split_filename(file_path):
#     # Remove the file extension and split the rest based on '_'
#     filename = os.path.basename(file_path).replace('.nc', '')
#     components = filename.split('_')
#     # Return components in a dictionary format for DataFrame usage
#     if "-" in components[-1]:
#         time_range = components[-1]
#     else:
#         time_range = "-".join([components[-2], components[-1]])
#     return {
#         'project_id': None,
#         'source_id': components[1],
#         'version': components[3],
#         'variable_id': components[0],
#         'time_range': time_range} 
    
# # Apply function to each file path and expand results into separate columns
# indices_to_remove = set(obs_df.index).union(set(obs4mips_df.index))
# remaining_df = df.drop(indices_to_remove)
# remaining_df[['project_id', 'source_id', 'version', 'variable_id', 'time_range']] = remaining_df['path'].apply(lambda x: pd.Series(split_filename(x)))

In [8]:
df_final = pd.DataFrame(columns=df_fs38.columns)
df = pd.concat([obs_df, obs4mips_df])
df_final[df.columns] = df

In [9]:
assert len(df_final[df_final.project_id.isna()]) == 0

In [10]:
assert len(df_final[df_final.variable_id.isna()]) == 0

In [11]:
assert len(df_final[df_final.source_id.isna()]) == 0

# Check Table ID

In [12]:
df_final.table_id.unique()

array(['Amon', '1.1', 'Omon', 'OImon', 'Lmon', 'Oyr', 'short', 'krig',
       'uah', 'day', 'fx', '05-numgauge1', '25', '10-numgauge1',
       '025-numgauge1', '05', '025', '25-numgauge1', '10', 'Ofx', 'Emon',
       'aero', 'cfMon', nan], dtype=object)

In [13]:
valid = ['Amon', 'Omon', 'OImon', 'Lmon', 'Oyr',
       'day', 'fx', 'Ofx', 'Emon', 'aero', 'cfMon']

## Fix CowtanWay data

In [14]:
df_final.loc[df_final[df_final.source_id == "CowtanWay"].index, ["realm", "frequency", "table_id", "variable_id"]] = ["atm", "mon", "Amon", "tasa"]

In [15]:
df_final.loc[df_final[df_final.source_id == "CowtanWay"].index, "version"] = df_final[df_final.source_id == "CowtanWay"]["path"].apply(lambda x: os.path.basename(x)).str.split("_").apply(lambda x: "_".join(x[3:7])).str.replace("_Amon", "")

In [16]:
df_final.loc[df_final[df_final.source_id == "CowtanWay"].index, "time_range"] = df_final[df_final.source_id == "CowtanWay"]["path"].apply(lambda x: os.path.basename(x)).str.split("_").apply(lambda x: x[-1]).str.replace(".nc", "")

In [17]:
df_final[df_final.source_id == "CowtanWay"]

,path,file_type,realm,frequency,table_id,project_id,institution_id,source_id,experiment_id,member_id,variable_id,grid_label,version,time_range
82,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4_short_krig_v2,197901-201911
83,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4sst4_krig_v2,185001-201812
84,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4_short_uah_v2,197901-201707
85,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4_krig_v2,185001-201911
86,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4_krig_v1,197901-201312
87,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,had4_uah_v1,197901-201312
88,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,ghcn_short_krig_v2,197901-201908
89,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,CowtanWay,reanaly,NaN,tasa,NaN,ghcn_short_uah_v2,197901-201707

## Fix '05-numgauge1', '25', '10-numgauge1', '025-numgauge1', '05', '025', '25-numgauge1', '10'

In [18]:
indices = df_final[df_final.table_id.isin(['05-numgauge1', '25', '10-numgauge1',
       '025-numgauge1', '05', '025', '25-numgauge1', '10'])].index

In [19]:
df_final.loc[indices, ["realm", "frequency", "table_id", "variable_id", "version"]] = ["atm", "mon", "Amon", "pr", "v2018"]

In [20]:
df_final.loc[indices, "time_range"] = df_final.loc[indices]["path"].apply(lambda x: os.path.basename(x)).str.split("_").apply(lambda x: x[-1]).str.replace(".nc", "")

In [21]:
df_final.loc[indices]

,path,file_type,realm,frequency,table_id,project_id,institution_id,source_id,experiment_id,member_id,variable_id,grid_label,version,time_range
408,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
409,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
410,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
411,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
412,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
413,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
414,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612
415,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,NaN,atm,mon,Amon,OBS,NaN,GPCC,reanaly,NaN,pr,NaN,v2018,189101-201612

In [25]:
df_final.loc[9, ["frequency", "table_id", "source_id", "experiment_id", "variable_id", "time_range"]] = {"frequency": "mon", "table_id": "Omon",  "source_id": "MOBO-DIC_MPIM", "experiment_id": None, "variable_id": "dissic", "time_range": "201101-201112"}

In [27]:
probs = df_final[~df_final.table_id.isin(valid) & ~df_final.table_id.isna()]
probs

Empty DataFrame
Columns: [path, file_type, realm, frequency, table_id, project_id, institution_id, source_id, experiment_id, member_id, variable_id, grid_label, version, time_range]
Index: []

In [29]:
df_final["frequency"] = df_final.table_id.replace({"Amon": "mon", "Omon": "mon", "OImon": "mon", "Lmon": "mon", "day": "day", "Emon": "mon", "cfMon": "mon"})

In [30]:
df_final["file_type"] = "f"

In [31]:
df_final

,path,file_type,realm,frequency,table_id,project_id,institution_id,source_id,experiment_id,member_id,variable_id,grid_label,version,time_range
0,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,mon,Amon,OBS6,NaN,NOAA-CIRES-20CR-V2,reanaly,NaN,clt,NaN,v2,187101-201212
1,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,mon,Amon,OBS6,NaN,NOAA-CIRES-20CR-V2,reanaly,NaN,hus,NaN,v2,187101-201212
2,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,mon,Amon,OBS6,NaN,NOAA-CIRES-20CR-V2,reanaly,NaN,tauu,NaN,v2,187101-201212
3,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,mon,Amon,OBS6,NaN,NOAA-CIRES-20CR-V2,reanaly,NaN,clwvi,NaN,v2,187101-201212
4,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,mon,Amon,OBS6,NaN,NOAA-CIRES-20CR-V2,reanaly,NaN,rsut,NaN,v2,187101-201212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6182,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,NaN,NaN,obs4MIPs,NaN,ISCCP,NaN,NaN,albisccp,NaN,V1.0,200402-200402
6183,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,NaN,NaN,obs4MIPs,NaN,ISCCP,NaN,NaN,albisccp,NaN,V1.0,199504-199504
6186,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,NaN,NaN,obs4MIPs,NaN,ISCCP,NaN,NaN,albisccp,NaN,V1.0,200001-200001
6188,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,NaN,NaN,obs4MIPs,NaN,ISCCP,NaN,NaN,cltisccp,NaN,V1.0,198812-198812
6189,/g/data/ct11/access-nri/replicas/esmvaltool/ob...,f,NaN,NaN,NaN,obs4MIPs,NaN,ISCCP,NaN,NaN,clisccp,NaN,V1.0,199908-199908

In [35]:
df_final.loc[6188]["path"]

'/g/data/ct11/access-nri/replicas/esmvaltool/obsdata-v2/Tier1/ISCCP/cltisccp_obs4MIPs_ISCCP_L3_V1.0_198812-198812.nc'

## Fix experiment_id

In [40]:
df_final.loc[df_final[~df_final.experiment_id.isin(["reanaly"])].index, "experiment_id"] = "observation"

In [41]:
df_final.experiment_id.unique()

array(['reanaly', 'observation'], dtype=object)

In [59]:
df_final.to_csv("access-ct11.csv", index=False)

In [60]:
import gzip

with open("access-ct11.csv", 'rb') as f_in:
    with gzip.open("access-ct11.csv.gz", 'wb') as f_out:
        f_out.writelines(f_in)

# Write the Intake ESM Catalog

In [61]:
import json

In [62]:
data = {}

In [63]:
data["id"] = 'access-nri-ct11'
data["title"] = 'access-nri-ct11'
data["description"] = "ACCESS-NRI Replica datasets for model evaluation. Includes ESMValTool data pool"
data["catalog_file"] = "access-ct11.csv.gz"

In [64]:
data['assets'] = {'column_name': 'path', 'format': 'netcdf'}

In [65]:
data['aggregation_control'] = {'variable_column_name': 'variable_id',
 'groupby_attrs': ['file_type',
  'project_id',
  'institution_id',
  'source_id',
  'experiment_id',
  'member_id',
  'frequency',
  'realm',
  'table_id',
  'variable_id',
  'grid_label',
  'version'],
 'aggregations': [{'type': 'join_existing',
   'attribute_name': 'time_range',
   'options': {'dim': 'time'}}]}

In [66]:
data['esmcat_version'] = '0.1.0'
data['catalog_file'] = 'access-ct11.csv.gz'

In [67]:
data["attributes"] = [{'column_name': 'file_type'},
 {'column_name': 'project_id'},
 {'column_name': 'institution_id'},
 {'column_name': 'source_id'},
 {'column_name': 'experiment_id'},
 {'column_name': 'member_id'},
 {'column_name': 'frequency'},
 {'column_name': 'realm'},
 {'column_name': 'table_id'},
 {'column_name': 'variable_id'},
 {'column_name': 'grid_label'},
 {'column_name': 'version'},
 {'column_name': 'time_range'}]

In [68]:
data

{'id': 'access-nri-ct11',
 'title': 'access-nri-ct11',
 'description': 'ACCESS-NRI Replica datasets for model evaluation. Includes ESMValTool data pool',
 'catalog_file': 'access-ct11.csv.gz',
 'assets': {'column_name': 'path', 'format': 'netcdf'},
 'aggregation_control': {'variable_column_name': 'variable_id',
  'groupby_attrs': ['file_type',
   'project_id',
   'institution_id',
   'source_id',
   'experiment_id',
   'member_id',
   'frequency',
   'realm',
   'table_id',
   'variable_id',
   'grid_label',
   'version'],
  'aggregations': [{'type': 'join_existing',
    'attribute_name': 'time_range',
    'options': {'dim': 'time'}}]},
 'esmcat_version': '0.1.0',
 'attributes': [{'column_name': 'file_type'},
  {'column_name': 'project_id'},
  {'column_name': 'institution_id'},
  {'column_name': 'source_id'},
  {'column_name': 'experiment_id'},
  {'column_name': 'member_id'},
  {'column_name': 'frequency'},
  {'column_name': 'realm'},
  {'column_name': 'table_id'},
  {'column_name': 'variable_id'},
  {'column_name': 'grid_label'},
  {'column_name': 'version'},
  {'column_name': 'time_range'}]}

In [69]:
with open('catalog.json', 'w') as json_file:
    json.dump(data, json_file)